$black: #000000;
$white: #ffffff;
$palegreen: #98FB98;
$limegreen: #32CD32;
$grass: #4DBD33;
$kelly: #4CBB17;
$simplegreen: #5ea758;
$darkgreen: #47894b;
$orange: #FFA500;

$main-font: 'Sulphur Point', sans-serif;
$secondary-font: 'Roboto', sans-serif;
